/*IMPORTANT!!!! DOWNLOAD THE 'ENHANCER FOR YOUTUBE' AND ENABLE THE DEEP DARK THEME OTHERWISE THIS CSS CODE DOES NOTHING!!!!!*/

/*
DIADZ V9
Made by benni18957 and niki136321
*/

@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Courier+Prime:wght@400;700&family=Cousine:wght@400;700&family=Cutive+Mono&family=DM+Mono:wght@300;400;500&family=Fira+Mono:wght@400;500;700&family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Nanum+Gothic+Coding:wght@400;700&family=PT+Mono&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Share+Tech+Mono&family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&family=Space+Mono:wght@400;700&family=Ubuntu+Mono:wght@400;700&family=VT323&display=swap");

@font-face {
	font-family: 'dos437win';
	src: url('https://testing.diadz.de/public/fonts/dos437win.woff');
}

yt-icon.ytd-logo {
    height: 40px !important;
    width: 120px !important;
    padding: 18px 14px 18px 16px !important;
    color: var(--yt-spec-wordmark-text) !important;
    flex: none !important;
	content: url('https://testing.diadz.de/public/diadz-spotify.svg') !important;
}


.button-container.ytd-rich-shelf-renderer {
    position: absolute !important;
    bottom: -37px !important;
    left: 50% !important;
    transform: translate(-50%,-50%) !important;
    background-color: #29132e !important;
    z-index: 1 !important;
    width: 360px !important;
    max-width: 100% !important;
}

.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--outline {
    color: #edff21 !important;
    border-color: #c7c7c7 !important;
}

.yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--outline {
    color: #edff21 !important;
    border-color: #c7c7c7 !important;
}

#dismissible.ytd-rich-shelf-renderer {
    width: 100% !important;
    margin-bottom: 48px !important;
    position: relative !important;
    padding-bottom: 17px !important;
    border-bottom: 1px solid #C7C7C7 !important;
}

ytd-rich-shelf-renderer[is-show-more-hidden] #dismissible.ytd-rich-shelf-renderer {
    width: 100% !important;
    margin-bottom: 48px !important;
    position: relative !important;
    padding-bottom: 17px !important;
    border-bottom: 1px solid #C7C7C7 !important;
}

#video-title.ytd-rich-grid-media {
    color: var(--yt-spec-text-primary) !important;
    font-family: "VT323","Anonymous Pro",normal !important;
    font-size: 1.8rem !important;
    line-height: 2.2rem !important;
    font-weight: 500 !important;
    overflow: hidden !important;
    display: block !important;
    max-height: 4.4rem !important;
    -webkit-line-clamp: 2 !important;
    display: box !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    text-overflow: ellipsis !important;
    white-space: normal !important;
}

ytd-video-meta-block[rich-meta] #byline-container.ytd-video-meta-block {
    font-family: "VT323","Anonymous Pro",monospace !important;
    font-size: 1.6rem !important;
    line-height: 2rem !important;
    font-weight: 400 !important;
}

ytd-video-meta-block[rich-meta] #metadata-line.ytd-video-meta-block {
    font-family: "VT323","Anonymous Pro",monospace !important;
    font-size: 1.6rem !important;
    line-height: 2rem !important;
    font-weight: 400 !important;
    overflow: hidden !important;
    display: block !important;
    max-height: 4rem !important;
    -webkit-line-clamp: 2 !important;
    display: box !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    text-overflow: ellipsis !important;
    white-space: normal !important;
    display: flexbox !important;
    display: flex !important;
}

yt-chip-cloud-chip-renderer[modern] {
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.6rem !important;
    line-height: 2rem !important;
    font-weight: 500 !important;
}

#search-input.ytd-searchbox-spt input {
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: inherit;
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 4px;
    max-width: 100%;
    outline: none;
    text-align: inherit;
    width: 100%;
    -ms-flex: 1 1 0.000000001px;
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
    -webkit-flex-basis: 1e-9px;
    -ms-flex-preferred-size: 0.000000001px;
    flex-basis: 1e-9px;
}

ytd-guide-entry-renderer[active] .title.ytd-guide-entry-renderer {
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.6rem !important;
    line-height: 2rem;
    font-weight: 500;
}

.title.ytd-guide-entry-renderer {
    color: var(--yt-spec-text-primary);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.6rem !important;
    line-height: 2rem;
    font-weight: 400;
    flex: 1;
    flex-basis: 1e-9px;
}

#footer.ytd-guide-renderer>#copyright {
    padding: 16px 24px;
    color: var(--yt-spec-text-disabled);
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 400;
}

ytd-rich-shelf-renderer[modern-typography] #title.ytd-rich-shelf-renderer {
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 2.5rem !important;
    line-height: 2.8rem;
    font-weight: 700;
    overflow: hidden;
    display: block;
    max-height: 2.8rem;
    -webkit-line-clamp: 1;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}

.yt-spec-button-shape-next {
    position: relative;
    margin: 0;
    white-space: nowrap;
    min-width: 0;
    text-transform: none;
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 20px !important;
    font-weight: 500;
    line-height: 18px;
    border: none;
    cursor: pointer;
    outline-width: 0;
    box-sizing: border-box;
    background: none;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    flex: 1;
    flex-basis: 1e-9px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h2.ytd-simple-menu-header-renderer {
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.8rem !important;
    line-height: 2.2rem;
    font-weight: 400;
    flex: 1;
    flex-basis: 1e-9px;
}

.message.ytd-notification-renderer {
    margin-bottom: 8px;
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.8rem !important;
    line-height: 2rem;
    font-weight: 400;
    overflow: hidden;
    display: block;
    max-height: 12rem;
    -webkit-line-clamp: 6;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}

.metadata.ytd-notification-renderer {
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 1.5rem !important;
    line-height: 1.8rem;
    font-weight: 400;
}

#label.ytd-compact-link-renderer {
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.6rem !important;
    line-height: 2rem;
    font-weight: 400;
}

ytd-active-account-header-renderer[enable-handles-account-menu-switcher] #account-name.ytd-active-account-header-renderer {
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 2.3rem !important;
    line-height: 2.2rem;
    font-weight: 400;
}

#channel-handle.ytd-active-account-header-renderer {
    color: var(--yt-spec-text-primary);
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.8rem !important;
    line-height: 2.2rem;
    font-weight: 400;
}

#manage-account.ytd-active-account-header-renderer {
    margin-top: 8px;
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.8rem !important;
    line-height: 2rem;
    font-weight: 400;
}

html tp-yt-paper-tooltip .tp-yt-paper-tooltip[style-target=tooltip] {
    margin: 8px;
    text-transform: none;
    word-break: normal;
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.6rem !important;
    line-height: 1.8rem;
    font-weight: 400;
}

ytd-guide-collapsible-section-entry-renderer.ytd-guide-section-renderer:not(:first-child) {
    border-top: 1px solid #c7c7c7 !important;
    margin-top: 12px;
    padding-top: 12px;
}

#sections.ytd-guide-renderer>*.ytd-guide-renderer:not(:last-child) {
    border-bottom: 1px solid #c7c7c7 !important;
}

ytd-grid-video-renderer #video-title.yt-simple-endpoint.ytd-grid-video-renderer {
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.8rem !important;
    line-height: 2rem;
    font-weight: 500;
    overflow: hidden;
    display: block;
    max-height: 4rem;
    -webkit-line-clamp: 2;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}

ytd-grid-video-renderer:not([rich-meta]) #metadata-line.ytd-grid-video-renderer {
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.6rem !important;
    line-height: 1.8rem;
    font-weight: 400;
    overflow: hidden;
    display: block;
    max-height: 3.6rem;
    -webkit-line-clamp: 2;
    display: flexbox;
    display: flex;
}

ytd-shelf-renderer[modern-typography] #title.ytd-shelf-renderer {
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 2.4rem !important;
    line-height: 2.8rem;
    font-weight: 700;
    overflow: hidden;
    display: block;
    max-height: 2.8rem;
    -webkit-line-clamp: 1;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}

#subtitle.ytd-shelf-renderer {
    color: var(--yt-spec-text-secondary);
    margin-top: 8px;
    max-width: 615px;
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.8rem !important;
    line-height: 2rem;
    font-weight: 400;
    overflow: hidden;
    display: block;
    max-height: 4rem;
    -webkit-line-clamp: 2;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}

ytd-c4-tabbed-header-renderer[use-page-header-style] #channel-name.ytd-c4-tabbed-header-renderer {
    margin-bottom: 4px;
    --ytd-channel-name-text-font-size: unset;
    --ytd-channel-name-text-font-weight: unset;
    --ytd-channel-name-text-line-height: unset;
    --ytd-channel-name-badges-display: inline-flex;
    --ytd-channel-name-badges-vertical-align: baseline;
    --iron-icon-margin-left: -8px;
    --yt-badge-font-size: 36px;
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 4rem !important;
    line-height: 5rem;
    font-weight: 700;
    overflow: hidden;
    display: block;
    max-height: 10rem;
    -webkit-line-clamp: 2;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}

ytd-c4-tabbed-header-renderer[use-page-header-style] #channel-handle.ytd-c4-tabbed-header-renderer {
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 2rem !important;
    line-height: 2rem;
    font-weight: 400;
}

ytd-c4-tabbed-header-renderer[use-page-header-style] .meta-item.ytd-c4-tabbed-header-renderer {
    display: inline-flex;
    white-space: nowrap;
    color: var(--yt-spec-text-secondary);
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.8rem !important;
    line-height: 2rem;
    font-weight: 400;
}

#content.ytd-channel-tagline-renderer {
    color: var(--yt-spec-text-secondary);
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.9rem !important;
    line-height: 2rem;
    font-weight: 400;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#first-link.ytd-channel-header-links-view-model {
    flex-shrink: 1;
    min-width: 2em;
    color: var(--yt-spec-call-to-action);
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.8rem !important;
    line-height: 2rem;
    font-weight: 400;
}

#more.ytd-channel-header-links-view-model {
    flex-shrink: 0;
    color: var(--yt-spec-text-primary);
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.8rem !important;
    line-height: 2rem;
    font-weight: 500;
}

.yt-tab-shape-wiz__tab {
    color: #de004e;
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 2rem !important;
    line-height: 2.2rem;
    font-weight: 500;
}

ytd-engagement-panel-title-header-renderer[modern-panels]:not([ads-semantic-text]) #title-text.ytd-engagement-panel-title-header-renderer {
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 2.8rem !important;
    line-height: 2.8rem;
    font-weight: 700;
    overflow: hidden;
    display: block;
    max-height: 2.8rem;
    -webkit-line-clamp: 1;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}

tp-yt-paper-dialog {
    display: block;
    margin: 24px 40px;
    background: var(--paper-dialog-background-color, var(--primary-background-color));
    color: var(--paper-dialog-color, var(--primary-text-color));
    font-family: "VT323","Anonymous Pro",mono-space !important;
    -webkit-font-smoothing: antialiased;
    font-size: 20px !important;
    font-weight: 400;
    line-height: 20px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}

.subheadline.ytd-about-channel-renderer {
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 2.5rem !important;
    line-height: 2.8rem;
    font-weight: 700;
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
}

.yt-channel-external-link-view-model-wiz__title {
    max-width: 100%;
    margin-bottom: 4px;
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 2rem !important;
    line-height: 2rem;
    font-weight: 500;
}

.yt-channel-external-link-view-model-wiz__link {
    max-width: 100%;
    color: #3ea6ff;
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.8rem !important;
    line-height: 2rem;
    font-weight: 400;
}

p.ytd-about-channel-renderer, td.ytd-about-channel-renderer {
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.8rem !important;
    line-height: 2rem;
    font-weight: 400;
}

#video-title.ytd-compact-video-renderer {
    margin: 0 0 4px 0;
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.8rem !important;
    line-height: 2rem;
    font-weight: 500;
    overflow: hidden;
    display: block;
    max-height: 4rem;
    -webkit-line-clamp: 2;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}

ytd-video-meta-block:not([rich-meta]) #byline-container.ytd-video-meta-block {
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.6rem !important;
    line-height: 1.8rem;
    font-weight: 400;
    overflow: hidden;
    display: block;
    max-height: 1.8rem;
    -webkit-line-clamp: 1;
    display: flexbox;
    display: flex;
}

ytd-video-meta-block:not([rich-meta])[inline-badges] #metadata-line.ytd-video-meta-block {
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.6rem !important;
    line-height: 1.8rem;
    font-weight: 400;
    overflow: hidden;
    display: block;
    max-height: 1.8rem;
    -webkit-line-clamp: 1;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}

.html5-video-player {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    outline: 0;
    font-family: "VT323","Anonymous Pro",mono-space !important;
    color: #edff21 !important;
    text-align: left;
    direction: ltr;
    font-size: 14px !important;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    touch-action: manipulation;
    -ms-high-contrast-adjust: none;
    forced-color-adjust: none;
}

ytd-watch-metadata[title-headline-xs] h1.ytd-watch-metadata {
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 2.5rem !important;
    line-height: 2.8rem;
    font-weight: 700;
    overflow: hidden;
    display: block;
    max-height: 5.6rem;
    -webkit-line-clamp: 2;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}

#channel-name.ytd-video-owner-renderer {
    max-width: 100%;
    color: var(--yt-endpoint-color,var(--yt-spec-text-primary));
    display: flexbox;
    display: flex;
    flex-direction: row;
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 2.3rem !important;
    line-height: 2.2rem;
    font-weight: 500;
}

#owner-sub-count.ytd-video-owner-renderer {
    color: var(--yt-spec-text-secondary);
    margin-right: 4px;
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.6rem !important;
    line-height: 1.8rem;
    font-weight: 400;
    overflow: hidden;
    display: block;
    max-height: 1.8rem;
    -webkit-line-clamp: 1;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}

yt-formatted-string.ytd-menu-service-item-renderer {
    color: var(--yt-spec-text-primary);
    white-space: nowrap;
    margin-right: 24px;
    flex: 1;
    flex-basis: 1e-9px;
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.7rem !important;
    line-height: 2rem;
    font-weight: 400;
}

.animated-rolling-number-wiz {
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.8rem !important;
    line-height: 2rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#description.ytd-watch-metadata {
    --ytd-text-inline-expander-button-color: var(--yt-spec-text-primary);
    position: relative;
    border-radius: 12px;
    font-family: "VT323","Anonymous Pro",mono-space !important;
    min-width: 100%;
    min-width: max(381px,50% - 12px);
    flex: 1;
    flex-basis: 1e-9px;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 1.8rem !important;
    line-height: 2rem;
    font-weight: 400;
}

ytd-text-inline-expander {
    display: block;
    position: relative;
    overflow: hidden;
    contain: content;
    color: var(--yt-spec-text-primary);
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.9rem !important;
    line-height: 2rem;
    font-weight: 400;
}

ytd-reel-shelf-renderer[modern-typography] #title.ytd-reel-shelf-renderer {
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 2.5rem !important;
    line-height: 2.8rem;
    font-weight: 700;
    overflow: hidden;
    display: block;
    max-height: 2.8rem;
    -webkit-line-clamp: 1;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}

#title.ytd-video-description-transcript-section-renderer {
    color: var(--yt-spec-text-primary);
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 2.3rem !important;
    line-height: 2.6rem;
    font-weight: 500;
    overflow: hidden;
    display: block;
    max-height: 2.6rem;
    -webkit-line-clamp: 1;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}

#title.ytd-video-description-infocards-section-renderer {
    color: var(--yt-spec-text-primary);
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 2.5rem !important;
    line-height: 2.6rem;
    font-weight: 500;
    overflow: hidden;
    display: block;
    max-height: 2.6rem;
    -webkit-line-clamp: 1;
}

#subtitle.ytd-video-description-infocards-section-renderer {
    color: var(--yt-spec-text-primary);
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.8rem !important;
    line-height: 2rem;
    font-weight: 400;
    overflow: hidden;
    display: block;
    max-height: 2rem;
    -webkit-line-clamp: 1;
}

.button.ytd-text-inline-expander {
    margin: 0;
    padding: 0;
    min-width: 40px;
    color: var(--ytd-text-inline-expander-button-color,var(--yt-spec-text-secondary));
    white-space: pre;
    text-transform: none;
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.8rem !important;
    line-height: 2rem;
    font-weight: 500;
}

#title.ytd-rich-metadata-renderer {
    color: var(--yt-spec-text-primary);
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 2rem !important;
    line-height: 2.2rem;
    font-weight: 400;
}

#subtitle.ytd-rich-metadata-renderer {
    -webkit-line-clamp: 2;
    color: var(--yt-spec-text-secondary);
    margin-top: 4px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.6rem !important;
    line-height: 1.8rem;
    font-weight: 400;
}

#call-to-action.ytd-rich-metadata-renderer {
    margin-top: 4px;
    color: var(--yt-spec-text-secondary);
    text-transform: uppercase;
    display: flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.8rem !important;
    line-height: 2rem;
    font-weight: 500;
}

#content-text.ytd-comment-renderer {
    --yt-endpoint-color: var(--yt-spec-call-to-action);
    --yt-endpoint-hover-color: var(--yt-spec-call-to-action);
    --yt-endpoint-visited-color: var(--yt-spec-call-to-action);
    color: var(--yt-spec-text-primary);
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.9rem !important;
    font-weight: 400;
    line-height: 2rem;
    overflow-wrap: anywhere;
}

.more-button.ytd-comment-renderer, .less-button.ytd-comment-renderer {
    text-transform: none;
    color: var(--yt-spec-text-secondary);
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.8rem !important;
    line-height: 2rem;
    font-weight: 500;
}

#vote-count-middle.ytd-comment-action-buttons-renderer {
    display: inline-block;
    margin-right: 8px;
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.7rem !important;
    line-height: 1.8rem;
    font-weight: 400;
}

.published-time-text.ytd-comment-renderer {
    --yt-endpoint-color: var(--yt-spec-text-secondary);
    --yt-endpoint-visited-color: var(--yt-spec-text-secondary);
    color: var(--yt-spec-text-secondary);
    white-space: nowrap;
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.7rem !important;
    line-height: 1.8rem;
    font-weight: 400;
}

ytd-comments-header-renderer[modern-typography] .count-text.ytd-comments-header-renderer {
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 2.5rem !important;
    line-height: 2.8rem;
    font-weight: 700;
    overflow: hidden;
    display: block;
    max-height: 2.8rem;
    -webkit-line-clamp: 1;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}

#simplebox-placeholder.ytd-comment-simplebox-renderer {
    color: var(--yt-spec-text-secondary);
    outline: none;
    flex-basis: 100%;
    flex: 1;
    flex-basis: 1e-9px;
    font-family: "VT323","Anonymous Pro",mono-space !important;
    font-size: 1.8rem !important;
    line-height: 2rem;
    font-weight: 400;
}









/*Youtube Deep Dark DIADZ Colors*/

:root {
    --dimmer-text: #c7c7c7 !important;
    --hover-background: #3e2a42 !important;
    --main-background: #29132e !important;
    --main-color: #de004e !important;
    --main-text: #edff21 !important;
    --second-background: #29132e !important;
    --shadow: 0 1px .5px rgba(0, 0, 0, .2) !important;
}

{
    scrollbar-color: hsla(0, 0%, 53.3%, .4) rgba(0, 0, 0, 0) !important;
    scrollbar-width: thin !important;
    --yt-spec-text-primary: var(--main-text) !important;
    --yt-spec-text-secondary: var(--dimmer-text) !important;
    --paper-spinner-color: var(--dimmer-text) !important;
    --paper-input-container-color: var(--dimmer-text) !important;
    --paper-radio-button-unchecked-color: var(--dimmer-text) !important;
    --paper-radio-button-unchecked-background-color: transparent !important;
    --paper-radio-button-checked-color: var(--main-color) !important;
    --paper-radio-button-checked-ink-color: var(--main-color) !important;
    --paper-radio-button-unchecked-ink-color: var(--main-color) !important;
    --paper-checkbox-unchecked-color: var(--dimmer-text) !important;
    --paper-checkbox-checked-color: var(--main-color) !important;
    --paper-checkbox-checkmark-color: none !important;
    --paper-checkbox-checked-ink-color: var(--main-color) !important;
    --paper-checkbox-unchecked-ink-color: var(--main-color) !important;
    --yt-spec-call-to-action: var(--main-color) !important;
    --yt-spec-suggested-action: var(--hover-background) !important;
    --yt-spec-outline: var(--hover-background) !important;
    --yt-spec-brand-button-background: var(--main-color) !important;
    --yt-formatted-string-bold-color: var(--dimmer-text) !important;
}

/*End*/